.shop-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop-card {
    width: 330px;
    padding: 10px;
    margin: 20px;
    border: thin solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.shop-card-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: thin solid white;
    border-radius: 8px;
    padding: 2px;
    text-align: center;
}

.address-container {
    padding: 2px;
    margin-top: 4px;
}

.shop-card-img {
    width: 300px;
}

.yelp-rating {
width: 150px;
margin-top: 5px;
margin-bottom: 5px;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

#ratings-amount {
    font-size: 16px;
    color: lightgray;
}
#yelp-logo {
    height: 18px;
    padding-right: 4px;
}

#stars {
    height: 16px;
    padding-left: 4px;
}