.shop-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    -o-animation: fadeIn .5s;
    -ms-animation: fadeIn .5s;
}

.shop-card {
    width: 330px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    -o-animation: fadeIn .5s;
    -ms-animation: fadeIn .5s;
}

#shop-name {
    margin: 0 auto;
    padding: 5px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

a {
    text-decoration: none;
}

#shop-name:hover {
    color: var(--tan);
    transition: .3s ease-in-out;
}

.shop-card-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--tan);
    border-radius: 8px;
    padding: 2px;
    text-align: center;
}

.address-container {
    padding: 2px;
    margin-top: 4px;
}

.shop-card-img {
    width: 320px;
    height: 300px;
    object-fit: cover;
    filter: drop-shadow(20px white);
    transition: .3s;
}

.shop-card-img:hover {
    filter: brightness(.75);
    transition: .3s ease-in-out;
}

.yelp-rating {
width: fit-content;
margin-top: 2px;
margin-bottom: 2px;
display: flex;
flex-direction: column;
justify-content: flex-start;
cursor: pointer;
transition:.3s ease-in-out;
}

.yelp-rating:hover {
    filter: brightness();
    transition: .3s ease-in-out;
}

#ratings-amount {
    font-size: 16px;
    color: lightgray;
    margin: 0;
    padding: 2px;
}

#yelp-logo {
    height: 18px;
    padding-right: 4px;
}

#stars {
    height: 16px;
    padding-left: 4px;
}

.address {
    padding: 0;
    margin: 0;
}

.address-container {
    padding: 10px;
}

#fav-name {
    margin: 0;
    padding: 2px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

#fav-name:hover {
    color: var(--tan);
    transition: .3s ease-in-out;
}

a {
    text-decoration: none;
}

.name-link {
    width: 90%;
}

.name-favorite {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    padding-left: 35px;
}

#icon {
    width: 30px;
    height: 30px;
    fill: goldenrod;
    padding-top: 4px;
    float: right;
}

.fav-card-img {
    width: 320px;
    height: 300px;
    object-fit: cover;
    filter: drop-shadow(20px white);
    transition: .3s;
}