.details {
    animation: fadeIn .3s;
    -webkit-animation: fadeIn .3s;
    -moz-animation: fadeIn .3s;
    -o-animation: fadeIn .3s;
    -ms-animation: fadeIn .3s;
}

.details-about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 40px auto 16px auto;
  min-width:360px;
}

.details-about-left {
  width: 45%;
  min-width: 330px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.details-about-right {
    width: 45%;
    min-width: 330px;
}

#shop-image {
  width: 90%;
  border: 1px solid var(--tan);
  border-radius: 1em;
  margin: 10px auto;
  align-self: center;
}

#shop-details-name {
    padding: 0 0 8px 0;
    margin: 0;
    font-size:xx-large;
}

#shop-name {
    padding: 0 0 8px 0;
}

.address-item {
    padding: 0;
    margin: 0;
    font-size: normal;
    font-weight: normal;
}

.shop-address {
    padding-top: 15px;
    padding-bottom: 15px;
}

.shop-categories {
    margin: 0;
    padding: 0;
}

.details-posts {
    width: 80vw;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}

.details-name-favorite {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.details-about-favorite {
    width: 10%;
}

#favorite-icon-false {
    width: 40px;
    height: 40px;
    padding: 2px;
    margin: 0;
    float: right;
    cursor: pointer;
}

#favorite-icon-false:hover {
    fill: var(--tan);
    transition: .2s;
}

#favorite-icon-true {
    width: 40px;
    height: 40px;
    padding: 2px;
    margin: 0;
    float: right;
    cursor: pointer;
    fill: goldenrod;
    color: goldenrod;
}
/*---------------------------------------------- MAP STYLING--------------------------------------- */
.about-map {
    width: 70vw;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 8px auto 12px auto;
}

.map-container {
    width: 100%;
    min-width: 330px;
    height: 300px;
    align-items: center;
    margin: 0;
}

.map-address {
    padding: 6px 2px;
    margin: 0;
}