.details-about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 40px auto;
  min-width:360px;
}

.details-about-left {
  width: 40%;
  min-width: 300px;
}

.details-about-right {
    width: 40%;
    min-width: 300px;
}

#shop-image {
  width: 90%;
  border: 1px solid var(--tan);
  border-radius: 1em;
}

#shop-details-name {
    padding: 0 0 8px 0;
    margin: 0;
    font-size:xx-large;
}

#shop-name {
    padding: 0 0 8px 0;
}

.address-item {
    padding: 0;
    margin: 0;
    font-size: normal;
    font-weight: normal;
}

.shop-address {
    padding-top: 15px;
    padding-bottom: 15px;
}

.shop-categories {
    margin: 0;
    padding: 0;
}

.details-posts {
    width: 80vw;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}

.details-name-favorite {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.details-about-favorite {
    width: 10%;
}

#favorite-icon-false {
    width: 40px;
    height: 40px;
    padding: 2px;
    margin: 0;
    float: right;
    cursor: pointer;
}

#favorite-icon-false:hover {
    fill: var(--tan);
    transition: .2s;
}

#favorite-icon-true {
    width: 40px;
    height: 40px;
    padding: 2px;
    margin: 0;
    float: right;
    cursor: pointer;
    fill: goldenrod;
    color: goldenrod;
}