/* ---------------------- Create Event Form -------------- */
.create-event-form {
  width: 60%;
  max-width: 600px;
  min-width: 340px;
  margin: 2.5rem auto;
  padding: 0;
  transition: 1s;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
  -moz-animation: fadeIn 0.8s;
  -o-animation: fadeIn 0.8s;
  -ms-animation: fadeIn 0.8s;
}

.create-event-title {
  text-align: center;
  margin: 20px auto 12px auto;
  border-bottom: 1px solid var(--tan);
  border-left: 8vw solid transparent;
  border-right: 8vw solid transparent;
}

#details {
  resize: none;
  color: black;
  font-weight: normal;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

#details:focus {
  height: 75px;
  transition: 0.5s ease-in-out;
}

#submit-button {
  width: 200px;
  align-self: center;
}

.react-datepicker-wrapper {
  margin: 5px 12px 5px 7px;
}

.datepicker {
  width: 125px;
  font-family: inherit;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 14px;
  color: black;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#time {
  width: 130px;
}

#disabled-submit-button {
  width: 200px;
  align-self: center;
  color: lightgray;
  cursor: auto;
}

/* ---------------------Dropdown -------------------------- */

.search-results {
  max-height: 200px;
  min-height: fit-content;
  background-color: var(--background-color);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

.dropdown-row {
  width: inherit;
  cursor: pointer;
}

.dropdown-row:hover {
  background-color: gray;
}