:root {
  --primary-color: black;
  --secondary-color: whitesmoke;
  --font-color: whitesmoke;
  --bg-color: black;
  --tan: #ab9474;
  font-family: "Poppins", sans-serif;
  padding-bottom: 30px;
}

[data-theme="light"] {
  --font-color: black;
  --bg-color: whitesmoke;
  --tan: #ab9474;
}

.for_light_theme {
  --primary-color: black;
  --secondary-color: whitesmoke;
  --font-color: black;
  --bg-color: lightgray;
  --tan: #ab9474;
}

.for_dark_theme {
  --primary-color: black;
  --secondary-color: whitesmoke;
  --font-color: whitesmoke;
  --bg-color: black;
  --tan: #ab9474;
}

* {
  color: var(--font-color);
}

body {
  color: var(--font-color);
  background: var(--bg-color);
  margin: 0;
  padding: 0;
  display: block;
}

p {
  margin: 0;
  padding: 0;
  font-weight: thin;
}

h5 {
  padding: 2px;
  margin: 0;
  font-weight: normal;
}

h4 {
  padding: 2px;
  margin: 0;
  font-weight: normal;
}

h3 {
  padding: 2px;
  margin: 0;

  font-weight: normal;
}

h2 {
  padding: 2px;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

button {
  transition: color 0.3s ease;
  background-color: var(--bg-color);
  color: var(--font-color);
}

button:hover {
  color: var(--tan);
  transition: 0.3s;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--tan);
  border-radius: 4px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
