:root {
  --dark: rgb(50, 49, 49);
  --brown: #2b1d15;
  --tan: #ab9474;
  /* font-family: "Quicksand", sans-serif; */
  font-family: "Poppins", sans-serif;
}

* {
  color: white;
}

body {
  background: black;
  margin: 0;
  padding: 0;
  display: block;
}

p {
  margin: 0;
  padding: 0;
  font-weight: thin;
}

h5 {
  padding: 2px;
  margin: 0;
  font-weight: normal;
}

h4 {
  padding: 2px;
  margin: 0;
  font-weight: normal;
}

h3 {
  padding: 2px;
  margin: 0;

  font-weight: normal;
}

h2 {
  padding: 2px;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: color .3s ease;
}

button {
  transition: color .3s ease;
}

button:hover {
  color: var(--tan);
  transition: .3s;
}

::-webkit-scrollbar {
background-color: transparent;
width: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background-color: rgb(30, 30, 30);
}

::-webkit-scrollbar-thumb {
  background-color: var(--tan);
  border-radius: 4px;
}
