.navbar ul {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--bg-color);
  margin: 10px auto;
  width: 64vw;
  min-width: 310px;
  padding: 0.5rem;
  border: 1.5px solid var(--tan);
  border-left: 12vw solid transparent;
  border-right: 12vw solid transparent;
  justify-content: space-between;
  animation: fadeIn .4s;
  -webkit-animation: fadeIn .4s;
  -moz-animation: fadeIn .4s;
  -o-animation: fadeIn .4s;
  -ms-animation: fadeIn .4s;
}

.navbar-item {
  width: fit-content;
  list-style-type: none;
  text-align: center;
  color: var(--font-color);
}

.navbar-link {
  color: var(--font-color);
  text-decoration: none;
  letter-spacing: 1px;
}

.navbar-link:hover {
  color: var(--tan);
  transition: 0.3s;
}

#mobile {
  margin-top: 5px;
  border: 1px solid var(--tan);
  border-left: 6vw solid transparent;
  border-right: 6vw solid transparent;
  fill: var(--font-color);
  height: fit-content;
  display: none;
}

.fa {
  width: 24px;
  height: 24px;
  padding: 4px;
  margin: 10px 10px;
  fill: var(--font-color);
  transition: 0.2s;
  cursor: pointer;
  
}

.fa:hover {
  fill: var(--tan);
  border: 1px solid var(--tan);
  border-radius: 6px;
}

@media screen and (max-width: 500px) {
  .navbar.active ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    margin: 0px;
    top: 60px;
    right: 0px;
    width: 75vw;
    height: fit-content;
    background-color: var(--bg-color);
    padding: 0px 0px 0px 0px;
    border-top: none;
    transition: 1s ease-in-out;
  }

  .navbar.hidden ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    margin: 0px;
    top: -300px;
    right: 0px;
    width: 75vw;
    height: fit-content;
    background-color: var(--bg-color);
    padding: 0px 0px 0px 0px;
    border-top: none;
    transition: 1s ease-in-out;
  }

  .navbar li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    width: fit-content;
  }

  #mobile {
    display: flex;
    text-align: right;
    justify-content: space-between;
  }

  #mobile-title {
    text-align: center;
    margin: auto 0 auto 10px;
    font-size: 24px;
    font-weight: bold;
  }

  #navbar-logo {
    height: 36px;
    margin: auto 0 auto 0px;
  }
}
