.container-login {
  text-align: center;
}

.container-login > section > a {
  font-size: larger;
  text-decoration: underline;
  color: var(--font-color);
  cursor: pointer;
}

.container-login > section > a:hover {
  color: var(--tan);
  transition: 0.2s;
}

.form-login {
  width: 80vw;
  max-width: 600px;
  min-width: 340px;
  margin: 2.5rem auto;
  padding: 0;
}

.form-login > h1 {
  font-size: 2.5rem;
  margin: 0px auto 20px auto;
  padding: 0;
  text-align: center;
  min-width: 250px;
  border-bottom: 1px solid var(--tan);
  border-left: 8vw solid transparent;
  border-right: 8vw solid transparent;
}

.form-login > h2 {
  margin: 20px auto 10px auto;
  text-align: center;
  font-size: 1.25rem;
}

.form-login > fieldset > input {
  width: 25em;
  padding-left: 0;
}

.form-login > fieldset {
  margin: 0;
  padding: 0;
  height: fit-content;
}

.login-btn {
  align-self: center;
}

.button-form-group {
  margin-top: 10px;
}

/************* FORM STYLES *************/

form {
  margin: 3rem 5rem;
  border: 1px solid var(--outline);
  border-radius: 10px;
  padding: 0rem 0rem 0rem 0rem;
}

fieldset {
  min-width: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
  border: 0;
}

.form-control {
  height: calc(1.25em + 0.75rem + 1px);
  padding: 0 0 0 0.25rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 0.45rem;
  color: black;
}

.form-control:focus {
  outline-color: var(--tan);
  box-shadow: 0 0 10px 3px rgb(93, 93, 93);
}

#email {
  padding: 0 0 0 0.25rem !important;
}

#create-about {
  resize: none;
  font-family: inherit;
  font-weight: inherit;
  color: black;
  transition: 0.5s ease-in-out;
}

#create-about:focus {
  height: 75px;
  transition: 0.5s ease-in-out;
}

.form-group {
  margin: 4px auto 10px auto;
  display: flex;
  flex-direction: column;
}

.disabled-button {
  filter: brightness(.2);
}

.disabled-button:hover {
  color: var(black);
  transition: none;
}
