.welcome {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.welcome-header {
  padding: 10px;
}

.welcome-video {
  width: 50%;
  min-width: 330px;
  max-width: 800px;
  border-radius: 20px;
  margin: 10px auto;
}

.welcome-footer {
  margin: 40px auto;
}

.discover-button {
    color: white;
    font-size: 16px;
    background-color: black;
    border: 1px solid var(--tan);
    border-radius: 10px;
    margin: 2px 10px;
    padding: 10px;
    cursor: pointer;
}

.welcome-title {
  font-weight: 300;
}